body {
	color: #333;
	font-family: Tahoma, sans-serif;
}

.header {
	font-size: 20px;
	line-height: 1.5;
	margin: 60px auto;
}

.header span {
	display: block;
}

.section {
	padding: 30px 0;
}

.form {
	border: 5px solid #2727d9;
	padding: 41px 20px;
}

.form input {
	margin-bottom: 12px;
}

.form-header, .section-header, .clients-header {
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 20px;
}

.clients-header {
	margin-bottom: 38px;
}

.form-btn {
	margin: 12px auto;
	background-color: #2727d9;
}

.feature {
	margin: 81px auto;
}

.feature-box {
	height: 160px;
}

.client-box {
	margin-top: 33px;
}

.feature p {
	margin-top: 20px;
	font-size: 16px;
	font-weight: 700;
}

.video {
	margin-bottom: 30px;
}